<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <%  if (kindOfDay === "Saturday" || kindOfDay === "Sunday"){ %>
        <h2>It's a
            <%=kindOfDay %>! Why are you not working?</h2>
        <%  } else{ %>
            <h2>It's a
                <%=kindOfDay %>! Why are you not working?</h2>
            <% } %>