a {
    color: black;
    text-decoration: underline;
}

body {
    font-family: monospace, serif;
}

.body {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button {
    min-height: 40px;
    margin-right: 40px;
    width: 50px;
    background-color: transparent;
    font-size: 30px;
    border-width: 0;
}

.center {
    float: left;
    width: 60%;
}

.clear {
    clear: both;
    margin-bottom: 20px;
}

.d-right {
    float: right;
}

.editText {
    margin: 0 0 20px 1px;
    font-size: 20px;
    border: none;
    width: 85%;
    font-family: monospace;
}

.formitem {
    text-align: auto;
    margin-left: 100px;
    margin-right: 100px;
}

#forward,
#backward {
    background-color: transparent;
    color: #3f3d3d;
    font-size: 50px;
    padding: 1px;
    border-width: 0;
}

.form-signin {
    margin: auto;
    max-width: 330px;
    padding: 15px;
    width: 100%;
}

.form-signin .form-control {
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="username"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

h1 {
    color: #3f3d3d;
    margin: 20px 0 0 0;
    font-size: 31px;
}

#heading {
    margin-top: 0;
    text-align: center;
}

.item {
    min-height: 60px;
    display: flex;
    padding: 2px;
    margin-left: 40px;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #888888
}

input[type="checkbox"] {
    margin: 12px;
}

.inputText {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    font-size: 20px;
    width: 85%;
    margin-top: 10px;
    font-family: monospace;
}

input[type="text"]:focus {
    outline: none;
}

.delete-icon {
    margin-left: 20px;
    margin-bottom: 1px;
}

.left {
    float: left;
    width: 20%;
    padding-left: 50px;
}

.logout {
    position: fixed;
    right: 20px;
    top: 5px;
}

@media (min-width: 1025px) {
    .box {
        max-width: 60%;
        margin: 40px auto;
        border-radius: 5px;
        word-wrap: break-word;
    }
}

@media (min-width: 200px) and (max-width: 1024px) {
    .box {
        max-width: 80%;
        margin: auto;
        border-radius: 5px;
        word-wrap: break-word;
    }
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.message {
    font-size: 15px;
    margin-top: 15px;
}

p {
    margin: 3px;
    font-size: 20px;
    max-width: 90%;
}

::placeholder {
    color: grey;
    opacity: 1;
}

.right {
    float: right;
    width: 20%;
    padding-right: 50px;
}

#submit {
    float: right;
    font-size: 50px;
}

.usrname {
    position: fixed;
    right: 180px;
    top: 14px;
    font-size: x-large;
}