@media (min-width: 1025px) {
    .box {
        max-width: 60%;
        margin: 40px auto;
        border-radius: 5px;
        word-break: break-all;
    }
}

@media (min-width: 200px) and (max-width: 1024px) {
    .box {
        max-width: 80%;
        margin: auto;
        border-radius: 5px;
        word-break: break-all;
    }
}

body {
    height: 100%;
    font-family: monospace;
}

h1 {
    color: #3f3d3d;
    margin-left: 14px;
}

#heading {
    margin-top: 0;
    text-align: center;
}

.item {
    min-height: 50px;
    display: flex;
    margin: 25px;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #888888
}

input[type="checkbox"] {
    margin: 10px;
}

p {
    margin: 4px 4px 4px 15px;
    font-size: 20px;
}

.formitem {
    text-align: auto;
    margin-left: 100px;
    margin-right: 100px;
}

#forward,
#backward {
    background-color: transparent;
    color: #3f3d3d;
    font-size: 50px;
    padding: 1px;
    border-width: 0;
}

input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    font-size: 20px;
    width: 90%;
    font-family: monospace;
    background-color: transparent;
}

input[type="text"]:focus {
    outline: none;
}

 ::placeholder {
    color: grey;
    opacity: 1;
}

.button {
    min-height: 40px;
    width: 50px;
    background-color: transparent;
    font-size: 30px;
    border-width: 0;
}

#submit {
    float: right;
    font-size: 50px;
}

.clear {
    clear: both;
    margin-bottom: 20px;
}

#left {
    float: left;
    width: 20%;
}

#center {
    float: left;
    width: 60%;
}

#right {
    float: right;
    width: 20%;
}